<!DOCTYPE html>
<html>
  <head>
    <title>Stage</title>
  
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    
  </head>
  
  
  <body>
   
      <h1>
          
     </h1>
    
    <div>
      <a href="/nominations">Crawling : Décret portant nomination (magistrature)</a><br>
      <a href="/nlp">OpenNlp data extraction : Non réussi</a><br>
      <a href="/exp-reguliere">Extraction magistrats avec RegExp</a> Réinitialiser la BD de préférence avant d'effectuer cette commande, dure 1 heure<br>
      <a href="/liste">Contenu de la base de données</a>
    </div>
    
    
    <script src="/client.js"></script>
    
  </body>
  
</html>
